<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.android.tang.tony.host">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <service
            android:name="io.github.android.tang.tony.host.ParturitionService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="io.github.android.tang.tony.host.HostService" />

        <receiver
            android:name="io.github.android.tang.tony.host.ReviveSignalReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.github.android.tang.tony.host.ServiceAbortionActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${action_stop_foreground_service}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>